* {
    margin: 0;
    font-family: Arial;
    border : border-box;
}

.navbar {
    background-color: #0f1111;
    color: white;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
}

.border {
    border : 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.nav-logo {
    height: 50px;
    width: 120px;
    padding-top: 4px;
}

.nav-logo:hover {
    cursor: pointer;
}

.logo {
    background-image: url("/photos/logo.png");
    background-size: cover;
    height: 55px;
    width: 100%;
}

/* box2 */

#deliver {
    color: #CCCCCC;
    font-size: 12px;
    margin-left:15px ;
}

#india {
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
}

.nav-address {
    height: 50px;
    width: 100px;
    padding-top: 12px;
    padding-left: 20px;
}

.nav-address:hover {
    cursor: pointer;
}

.nav-address-icon {
    display: flex;
    align-items: center;
} 

.nav-address-icon i {
    font-size: 17px;
}

/* Box3 */
.nav-search {
    display: flex;
    padding-top:10px ;
    padding-bottom: 10px;
    width: 800px;
    justify-content: space-evenly ;
}

.nav-search:hover {
    border: 1px solid rgba(255, 217, 0, 0.952);
}

.nav-search-select {
    width: 50px;
    background-color: #e6e6e6;
    padding-left:7px ;
    font-size: 13px;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
}

.nav-search-insert {
    width: 100%;
}

.nav-search-icon {
    display: flex;
    width: 50px;
    background-color: rgba(255, 217, 0, 0.902);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 0.3px solid black;
}

/* box4 */
.nav-signin  {
    width: 120px;
    padding-top: 15px;
    padding-left: 15px;
}

.nav-signin:hover{
    cursor: pointer;
}

.nav-signin-first {
    font-size: 13px;
    font-weight: 400;
}

.nav-signin-second {
    font-size: 14px;
    font-weight: 700;
}

/* box5 */
.nav-orders {
    width: 80px;
    padding-top: 15px;
    padding-left: 5px;
}

.nav-orders:hover{
    cursor: pointer;
}

.nav-orders-first {
    font-size: 13px;
    font-weight: 400;
}

.nav-orders-second {
    font-size: 14px;
    font-weight: 700;
}

/* box6 */
.nav-cart {
    width: 90px;
    display: flex;
    padding-top: 19px;
    padding-left: 5px;
}

.nav-cart:hover {
    cursor: pointer;
}

.nav-cart i {
    font-size: 25px;
}

.nav-cart-cart {
    padding-top: 10px;
    padding-left: 3px;
    font-weight: 700;
    font-size: 14px;
}

/* List-Section */
.list-section {
    height: 40px;
    background-color: #232f3e;
    display: flex;
}

/* box1 */
.list-section-menu {
    height: 40px;
    width: 60px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.list-section-menu:hover {
    cursor: pointer;
}

.list-section-menu-icon {
    font-size: 22px;
}

.list-section-menu-all {
    font-weight: 700;
    font-size: 14px;
    padding-left: 5px;
}

/* box2 */
.list-section-tabs {
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-left: 12px;
    width: 430px;
}

.list-section-tabs-today {
    font-weight: 500;
}

.list-section-tabs-today:hover {
    cursor: pointer;
}

.list-section-tabs-registry {
    font-weight: 500;
    margin-left: 15px;
}

.list-section-tabs-registry:hover {
    cursor: pointer;
}

.list-section-tabs-customer {
    font-weight: 500;
    margin-left: 15px;
}

.list-section-tabs-customer:hover {
    cursor: pointer;
}

.list-section-tabs-gift {
    font-weight: 500;
    margin-left: 15px;
}

.list-section-tabs-gift:hover {
    cursor: pointer;
}

.list-section-tabs-sell {
    font-weight: 500;
    margin-left: 15px;
}

.list-section-tabs-sell:hover {
    cursor: pointer;
}

/* Hero Section */
.hero-section {
    background-image: url("photos/hero_section.jpg");
    background-size: cover;
    height: 410px;
}

.hero-section-first {
    font-size: 15px;
    background-color: #f5f6f6;
    height: 20px;
    width: 1400px;
    padding: 10px 14px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 60%;
}

.hero-section-first a {
    color: #2162a1;
    text-decoration: none;
    padding-left: 4px;
}

/* Shop Section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -7%;
    background: linear-gradient(to bottom, rgba(227, 230, 230, 0) 11%, #e3e6e6 11%);
}

.box {
    height: 450px;
    width: 330px;
    background-color: white;
}

.shop-section-content {
    padding-left: 15px;
    padding-top: 20px;
    width: 330px;
    height: 420px;
}

.shop-section-content a {
    text-decoration: none;
    color: #2162a1;
    font-size: 15px;
}

.box-img {
    margin-top: 12px;
    background-size: cover;
    width: 300px;
    height: 330px;
    margin-bottom: 22px;
}

.shop-section-content-seperator {
    background-color: #e3e6e6;
    height: 20px;
    width: 100%;
}